

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .product {
    width: 200px; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .custom-font{
    font-size: 30px !important;
  }
  .custom-pos{
    position: relative;
  }
  .Css-Search{
    position: "fixed";
    top: 105;
    right: 250;
   
    z-index: 10;
    width: 1100px;
    height: auto;
  }
  .list-styling{
    list-style: none;
    margin-left: -30px;
    margin-top: 40px;
  }